/*tabs.css*/

.vertical-tabs {
  display: flex;
  flex-wrap: wrap;
  gap: clamp(1.5rem, -2.25rem + 10vw, 6.75rem);
}

/*Tab buttons (col 1)*/
.tab-buttons-wrapper {
  flex-grow: 1;
  flex-shrink: 1;
  max-width: fit-content;
  display: grid; 
  gap: 1rem; 
  height: fit-content;
  position: sticky;
  top: calc(var(--header-height) + clamp(0rem, -0.714rem + 1.905vw, 1rem));

  @media(max-width:850px) {
    grid-auto-flow: column;
    gap: .75rem;
    overflow-x: auto; overflow-y: hidden; scroll-snap-type: x mandatory;
    white-space: nowrap;
    padding-bottom: .75rem;
    z-index: 1;
    margin-right: -1.5rem;
  }
}

.tab-button {
  font-size: var(--font-size--large);
  line-height: 1.5;
  display: flex; gap:1.125rem;
  background: none; border: none;
  text-align: left;
  padding: .625rem 1rem;
  border-radius: 20rem;
  transition: all .5s ease-in-out;

  &:hover {
    background-color: color-mix(in srgb, var(--clr-contrast-3), canvas 80%);
    border-radius: 3rem;
    @supports (corner-shape: squircle) {
      border-radius: 2rem;
      corner-shape: squircle;
    }
  }

  &[aria-selected="true"] {
    background-color: color-mix(in srgb, var(--clr-accent-1), canvas 80%);
    border-radius: 3rem;
    @supports (corner-shape: squircle) {
      border-radius: 2rem;
      corner-shape: squircle;
    }

  }

  svg {
    width: 2.5rem; height: 2.5rem; 
    flex-shrink: 0;
    transition: all .5s ease-in-out;
  }

  @media(max-width:850px) {
    font-size: var(--font-size--medium); gap: .5rem; padding: .25rem .5rem;
    scroll-snap-align: start;
    background-color: var(--clr-base-3);

    svg {
      width: 1.375rem; height: 1.375rem; margin-top: .125rem;
    }
  }
}

/*tab-content-wrapper (col 2)*/
.tab-content-wrapper {
  flex-grow: 2;
  flex-basis: min-content;
  min-width: min(400px, 100%);
}

.tab-content[hidden] {display: none;}

