/*Details - summary*/
main {
  summary {
      list-style:none;position:relative;font-size:var(--font-size--large);cursor:pointer;
      padding:1.5rem 1.5rem 1.5rem 0;border-bottom:2px solid var(--clr-base-3);
      color:var(--clr-contrast);
      /*Summary icon*/
      &::after {
        content:"";
        mask: url("data:image/svg+xml,%0A%3Csvg fill='none' viewBox='0 0 8 6' stroke='black' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m1 1 3 3 3-3' stroke-width='.75'/%3E%3C/svg%3E") no-repeat center;
        mask-size: contain;
        background-color: color-mix(in srgb, var(--clr-contrast), transparent 70%);
        width:18px;height:14px;
        position:absolute;top:1.75rem;right:0;
        transition:transform 0.3s ease-in-out;
      }
  }

  details[open] > summary::after {transform: rotate(180deg);}

  /*Details - content - first element after summary*/
  details > summary + *{padding-top:1.5rem!important;}
  /*Details - content*/
  details *:not(summary) {color: var(--clr-contrast-3);} 


  /*Details - animation*/
  ::details-content {
    transition:height 0.5s ease, content-visibility 0.5s ease allow-discrete;
    height:0;
    overflow:clip;
  }
  [open]::details-content {
    height:auto;
  }
}

/* Browser supports interpolate-size - must be outside main to target :root */
@supports(interpolate-size:allow-keywords){
  :root{
    interpolate-size:allow-keywords; /* Tells the browser it's okay to animate to 'auto' */
  }
}