/*****************************
RESET - FORMS
******************************/
fieldset {border:none;display:flex;flex-direction:column;gap:1.25rem;}
fieldset legend {
  font-size: var(--font-size--x-large);
  margin-bottom: 1rem; font-weight: 600;}
fieldset label {
  display: block;
  margin-bottom: .125rem; font-weight: 600;color:var(--clr-contrast-3);}
input:not([type="radio"]):not([type="checkbox"]),
select,textarea{
  padding:.25rem 0;background-color:transparent;
  border:none;border-bottom:2px solid var(--clr-contrast-3);}
input:focus,select:focus,textarea:focus{outline:2px solid var(--clr-accent-2);outline-offset:1px;}
/*Dropdowns*/
select, ::picker(select){appearance: base-select;}
option::checkmark{display:none;}
option {padding: 0.5rem 1rem;}
option:hover,option:focus-visible{background:var(--clr-base-2);}
select::picker-icon{display:none}
::picker(select){border:1px solid gray;padding:0.5rem 0;border-radius:1rem;}
/*Button loading state*/
.loading {color: transparent; position: relative; cursor: not-allowed;}
.loading::after {
  content: '';
  position: absolute; left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 1.25rem; height: 1.25rem;
  border: 4px solid #ccc; border-radius: 50%;
  border-top-color: #333; animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}