@import './cta-button.css';
@import './details.css';
@import './squircle.css';

/* root holds theme state. 
The triggers below update this state.*/
:root {
  --theme-mode: 'light'; /* Default state */
}
/* Trigger 1: Manual toggle by user (via JS) */
:root[data-theme="dark"] {
  --theme-mode: 'dark';
}
:root[data-theme="coffee"] {
  --theme-mode: 'coffee';
}
/* Trigger 2: User OS is dark 
AND they haven't manually chosen other modes.*/
@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]):not([data-theme="coffee"]) {
    --theme-mode: 'dark';
  }
}

body {
  /* Defaults (Light Theme) */
  color-scheme: light;
  --clr-accent-1:         hwb(209 0% 12%);
  --clr-accent-2:         hwb(29 40% 0%);
  --clr-base:             hwb(0 97% 3%);
  --clr-base-2:           hwb(0 92% 8%);  /*w:98    b:1-3*/
  --clr-base-3:           hwb(0 84% 16%); /*w:99    b:9*/
  --clr-contrast:         hwb(0 11% 89%); /*w:59-79 b:82-89*/
  --clr-contrast-2:       hwb(0 19% 81%); /*w:70    b:59*/
  --clr-contrast-3:       hwb(0 33% 67%); /*w:73-77 b:48-53*/
  --clr-success-base:     hwb(89 60% 0%);
  --clr-success-contrast: hwb(89 0% 58%);
  --clr-danger-base:      hwb(329 90% 0%);
  --clr-danger-contrast:  hwb(329 0% 28%);
  --gradient-base: 
    linear-gradient(
      135deg, var(--clr-accent-2), color-mix(in srgb, var(--clr-accent-2), var(--clr-base) 20%));
  --gradient-contrast: 
    linear-gradient(
      135deg, color-mix(in srgb, var(--clr-accent-1), var(--clr-contrast) 25%), var(--clr-accent-1));
  --shadow-natural: 0 .5rem 1rem rgba(0, 0, 0, 0.07);
  --shadow-neomorphism: .75rem .75rem 1rem 0 rgba(0,0,0,0.05), 
                    -.5rem -.5rem .75rem 0 rgba(255,255,255,0.5);

  /* Overrides: Queries :root's computed style for `--theme-mode`.*/
  @container style(--theme-mode: 'dark') {
    color-scheme: dark;
    --clr-accent-1:         hwb(29 40% 0%);
    --clr-accent-2:         hwb(209 0% 12%);
    --clr-base:             hwb(0 11% 89%);
    --clr-base-2:           hwb(0 19% 81%);
    --clr-base-3:           hwb(0 24% 76%);
    --clr-contrast:         hwb(0 97% 3%);
    --clr-contrast-2:       hwb(0 92% 8%);
    --clr-contrast-3:       hwb(0 84% 16%);
    --clr-success-base:     hwb(89 0% 70%);
    --clr-success-contrast: hwb(89 57% 8%);
    --clr-danger-base:      hwb(329 0% 58%);
    --clr-danger-contrast:  hwb(330 90% 0%);
    --shadow-natural: 0 .5rem 1rem rgba(0, 0, 0, 0.07);
    --shadow-neomorphism: 0 0 0 1px var(--clr-base-3);
    img {filter: brightness(0.9) contrast(1.1);}
  }
  @container style(--theme-mode: 'coffee') {
    color-scheme: light;
    /*Coffee styles here.*/
  }
}

/* Theme transition */
header,body,button,img,select,input,option,textarea,span,path {
  transition:
    background-color .5s ease,
    border-color .5s ease,
    fill .5s ease;}

/*Root variables*/    
:root {
  /*Font sizes*/
  /*min 601 (smallest tablet), max 1440*/
  /*browserstack.com/guide/common-screen-resolutions*/
  --font-size--small: 0.875rem; /*14px Footnotes*/
  --font-size--medium: 1rem;
  --font-size--large: clamp( /*h3*/
                      1.25rem, 
                      1rem + 0.5vw, 
                      1.5rem);
  --font-size--x-large: clamp( /*h2*/
                      1.5rem, 
                      .25rem + 3.333vw, 
                      3.25rem);
  --font-size--xx-large: clamp( /*h1*/
                      2rem, 
                      .5rem + 3.875vw, 
                      4rem);
  /*Header height*/
  --header-height: 86px; /* Default for desktop */
}

/*Root variables - Small screens*/   
@media (max-width: 768px) {
  :root {
    --header-height: 70px; /* Override for mobile */
  }
}

/***********
RESET - MAIN
***********/

*{box-sizing:border-box;margin:0;padding:0}
html{-moz-text-size-adjust:none;-webkit-text-size-adjust:none;text-size-adjust:none;
  scrollbar-gutter:stable;}
body{min-height:100vh;background-color:var(--clr-base);}
body:has(dialog[open]){overflow:hidden;}
@media(prefers-reduced-motion:reduce){*{transition:none!important;animation:none!important;}}
/*Global utilities*/
.sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);white-space:nowrap;border-width:0}
.no-break{white-space:nowrap;}
svg{display:block;}/*otherwise they default inline-block, creating unintented gaps*/
img{max-width:100%;height:auto}
/*Buttons*/
button{cursor:pointer;background:none;border:none}
button:disabled {opacity: 0.6;cursor: not-allowed;}
/*Text selection*/
::selection{background:var(--clr-accent-2);color:var(--clr-contrast);}
/*Page transitions*/
@view-transition{navigation:auto;}
::view-transition-old(root),
::view-transition-new(root){animation-duration:0.35s;/*default is 0.25s*/}

/*****************
RESET - TYPOGRAPHY
******************/

/*Reset - Typography - Base*/
body,textarea,input,button,select,[popover]{
  font-family:Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  font-size:var(--font-size--medium);
  line-height:1.65;
  color:var(--clr-contrast-2);}
/*Reset - Typography - Links*/
p a, div a {font-weight:500;color:var(--clr-accent-1);}
/*Reset - Typography - Headings*/
h1,h2,h3,h4{font-weight:600;line-height:1.25;letter-spacing:-0.01em;color:inherit;}
h1{font-size:var(--font-size--xx-large)}
h2{font-size:var(--font-size--x-large)}
h3{font-size:var(--font-size--large)}
/*Reset - Typography - Lists*/
ul,ol{padding-left:1.5rem}
ul li::marker{color:var(--clr-accent-1);font-size: 1.75rem;}

/**********************
RESET - VERTICAL MARGIN
***********************/

/*Reset - Vertical margin - Paragraphs and Links*/
p:not(.flex *):not(:last-child), /*no :where needed - higher specificity required to override Tailwind's default margin:0 on p*/
main :where(a:not(:last-child)) { /*:where lowers specificity, allowing overriding, such as with mb-0 (used for header logo link)*/
  margin-block-end: 1.5rem;}
/*Reset - Vertical margin - Lists*/
main ul:not(:last-child),
main ol:not(:last-child){
  margin-block-end:1rem}
main li:not(:last-child){margin-block-end:.5rem}
/*Reset - Vertical margin - Images & tables*/
figure:not(:last-child),
.table-wrapper:not(:last-child){
  margin-block-end:1rem;}
/*Reset - Vertical margin - Headings*/
h1:not(.flex *):not(:last-child),
h2:not(.flex *):not(:last-child) {
  margin-block-end: 1.25rem;}
h3:not(.flex *):not(:last-child) {
  margin-block-end: .75rem;}
h2:not(:first-child),
h3:not(:first-child){
  margin-block-start:0.75em !important}

/*****************************
RESET - OTHER DEFAULT ELEMENTS
******************************/
hr{border-color: var(--clr-base-3);margin-block: .75rem;}
/*Tables*/
.table-wrapper {overflow-x: auto;}
table {width: 100%;border-collapse: collapse;}
th, td {
  text-align: left;
  padding: .375rem 0.5rem; border: 1px solid var(--clr-base-3);
}
/*Sections and section inner containers*/
section {padding: clamp(3rem, 0.5rem + 6.667vw, 6.5rem) 1.25rem;position: relative;
  > div, > ul {max-width: 88rem;margin-inline: auto;}
}

/*****************************
Custom Components
******************************/

/*Scroll margin (Make anchor links account for sticky header height*/
.scroll-margin-header,h2,h3{scroll-margin-top:var(--header-height);}

/*Link expand technique (expand link to entire parent container (card)*/
a.link-expand::before {content:'';position:absolute;inset:0;z-index:1;}

/*Typography*/
.eyebrow {
  display:block;margin-bottom:1.5rem;
  font-size:var(--font-size--medium);
  text-transform:uppercase;letter-spacing:1px;
  color:var(--clr-accent-1);
  &:before {
    content:'';
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px'%3E%3Cpath d='m397-115-99-184-184-99 71-70 145 25 102-102-317-135 84-86 385 68 124-124q23-23 57-23t57 23q23 23 23 56.5T822-709L697-584l68 384-85 85-136-317-102 102 26 144-71 71Z'/%3E%3C/svg%3E");
    mask-repeat: no-repeat; mask-position: center; mask-size: 100%;
    background-color: currentColor;
    padding:.75rem;
    margin-inline-end:.5rem;
  }
}
.subheading {font-size: var(--font-size--large);text-wrap:pretty;}
.footnote, small {font-size: var(--font-size--small);color:var(--clr-contrast-3)}

/*Lists*/
.checkmarks {padding-left:0;
  li {
    list-style-type: none;
    position: relative;
    padding-left: 1.5rem;
    &:before {
      content:"✓";font-weight:600;color:var(--clr-accent-1);
      position:absolute;inset:0;width:max-content;
    }
  } 
}
.dividers li:not(:last-child):after {
  content: "";display:block;
  height:1px;background-color:var(--clr-base-3);
  margin-top:.75rem;margin-bottom:.75rem;
}

/*Backgrounds*/

.bg-dots{
  background-image:radial-gradient(color-mix(in srgb,var(--clr-accent-1) 40%,var(--clr-base)) 1px,transparent 0);
  background-position:-1rem -1rem;background-size:1.5rem 1.5rem;position:relative;
  &:after {
    content:"";position:absolute;inset:0;
    background:linear-gradient(to bottom,var(--clr-base) 0%,transparent 50%,var(--clr-base) 100%)
  }
  > div, > ul {position:relative;z-index: 1;}
}
.bg-dots-readable {
  background: radial-gradient(
    ellipse at center,
    var(--clr-base) 0%,
    var(--clr-base) 40%,
    transparent 100%
  );
}