/*Waves - applies to h2 by default, or any element with .waves class*/
h2, .waves {
    position: relative;
    padding-top: 2rem;
}

h2::before, .waves::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    background: var(--clr-accent-1);
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 50 5'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%23000' d='M37.435 5a10.53 10.53 0 0 1-6.49-2.08 9.56 9.56 0 0 0-6-1.92 9.56 9.56 0 0 0-5.95 1.92A10.52 10.52 0 0 1 12.565 5a10.53 10.53 0 0 1-6.49-2.08A9.56 9.56 0 0 0 .165 1V0a10.53 10.53 0 0 1 6.45 2.08A9.56 9.56 0 0 0 12.565 4a9.55 9.55 0 0 0 5.95-1.92A10.52 10.52 0 0 1 25.005 0a10.53 10.53 0 0 1 6.49 2.08A9.56 9.56 0 0 0 37.445 4a9.56 9.56 0 0 0 6-1.92A10.53 10.53 0 0 1 49.935 0v1a9.56 9.56 0 0 0-6 1.92 10.53 10.53 0 0 1-6.5 2.08Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M.125 0h49.75v5H.125z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    mask-repeat: repeat;
    mask-size: auto 4px;
}

/*Disable waves*/
h2.no-waves {
    padding-top: 0;
}

h2.no-waves::before {
    display: none;
}