---
import Layout from "../layouts/Layout.astro";
---
<Layout
  title="Soft Play Rentals in Charlotte NC | Acorn Pals"
  description="Book premium mobile soft play rentals in Charlotte, NC. Acorn Pals delivers safe, clean, and affordable fun for children's birthday parties. View our packages!"
  image="/og-image.webp"
  includeLocalBusinessSchema={true}
>
<section><h1>Hello world</h1></section>
</Layout>