header{
    padding:1rem 1.5rem 1rem 1.5rem!important;background-color:var(--clr-base);
    position:sticky/*otherwise relative*/;top:0;z-index:99;}
.header-inner-container {
    max-width:104rem;margin:auto;
    display:flex;justify-content:space-between;align-items:center;gap:1rem;
}
/*Header logo*/
.header-logo-link-wrapper{display:flex;}
.header-logo-link-wrapper .site-logo {
    width:clamp(8rem, 3.745rem + 17.021vw, 12rem)}
/*Header col 2 (needed to wrap mobile cta with nav stuff)*/
.header-col-2{display:flex;gap:1.5rem;align-items:center;}
/*Header checkbox*/
.nav-toggle{display:none;}/*hide checkbox*/
/*Header hamburger icon*/
.nav-toggle-icon{display:flex;flex-direction:column;justify-content:space-between;width:1.5rem;height:1rem;position:relative;z-index:999;}
.nav-toggle-bar{display:block;height:2px;width:100%;background:var(--clr-contrast);transition:transform 0.3s ease-in-out;}
.nav-toggle:checked ~ .nav-toggle-label .nav-toggle-bar:first-child{transform:translateY(7px) rotate(45deg);}/*Animate*/
.nav-toggle:checked ~ .nav-toggle-label .nav-toggle-bar:last-child{transform:translateY(-7px) rotate(-45deg);}/*Animate*/
/*Header nav element*/
#header-nav{
    width:100%;display:flex;flex-direction:column;gap:2rem;
    background-color:var(--clr-base-3);
    padding:3rem 1.5rem;z-index:9;position:absolute;top:100%;left:0;box-sizing:border-box;
    max-height:calc(100vh - 66px)/*header height*/;
    overflow-y:auto;-webkit-overflow-scrolling:touch;
    border-radius: 0 0 2rem 2rem;
    opacity:0;visibility:hidden;transform:translateY(-.5rem);transition:all 0.3s ease;
}
.nav-toggle:checked ~ #header-nav{
    opacity:1;visibility:visible;transform:translateY(0);
}
/*Header nav ul*/
.nav-list{
    list-style:none;margin:0;padding:0;
    display:flex;flex-direction:column;gap:1rem;align-items:start;}
/*Header nav list item*/
.nav-list-item,.nav-list-item button,.sub-nav-title{position:relative;line-height:normal;}
/*dropdown icon*/
.has-submenu > .nav-link {
  display: flex;gap:.125rem; align-items: center;
  background: none;border:none;/*Since it should be a button if it doesn't have a link*/}
.has-submenu > .nav-link svg {width:1rem;height:1rem;margin-right:-.125rem;}
/*Header nav sub list (submenu)*/
.sub-nav-list{list-style:none;padding:1rem;flex-direction:column;gap:1rem;z-index:999;display:none;}
.nav-list-item:hover /*Works like click on mobile*/ .sub-nav-list{display:flex;}
/*Header nav links*/
.nav-link,.sub-nav-link{
    font-weight:600;text-decoration:none;display:block;color:var(--clr-contrast);
    width:fit-content/*helps on mobile when has submenu and we want to click outside it to open it*/;}
/*Sub nav link (Contains icon and texts)*/
.sub-nav-link{display:flex;gap:1.25rem;align-items:center;}
/*Sub nav icons*/
.sub-nav-link-icon{
    width:2.25rem;height:2.25rem;flex-shrink:0;
    color:var(--clr-accent-1)}
/*Sub nav texts column*/
.sub-nav-texts-col{display:flex;flex-direction:column;gap:.33rem;}
/*Header sub nav descriptions*/
.sub-nav-description{font-size:0.875rem;color:var(--clr-contrast-3);}
/*Header CTAs*/
.nav-list-item-cta{width:100%;}
.nav-link-cta-primary{    
    background-color:var(--clr-accent-1);color:var(--clr-base);
    font-weight: 600;
    border-radius:10rem;padding: .5rem 1.5rem .5rem 1.5rem;
    text-align:center;text-decoration:none;display:block;width:auto;
    margin-bottom:2rem;/*Improves vertical scrolling on mobile*/}
.header-mobile-cta{
    background-color:var(--clr-accent-1);color:var(--clr-base);
    border-radius:10rem;padding:.375rem 1rem;font-size:1rem;
    text-align:center;cursor:pointer;text-decoration:none;display:block;width:auto;}
/*Darkmode button*/
#theme-toggle {margin:auto;}
#theme-toggle svg {width:1.25rem;height:1.25rem;color:var(--clr-contrast);}


/*Header desktop styles*/
@media(min-width:1025px){
    /*hide the nav toggle*/
    .nav-toggle-label {display:none;}
    /*nav*/
    nav{
        flex-direction:row!important;align-items:center;
        opacity:1!important;visibility:visible!important;transform:none!important;
        position:static!important;max-height:none!important;overflow:visible!important;
        background-color:transparent!important;padding:0!important;}
    /*nav list*/
    .nav-list{flex-direction:row;gap:2rem;}
    /*nav list item - vertical padding to move dropdown down*/
    .nav-list-item{padding-top:.5rem;padding-bottom:.5rem;}
    /*nav list item - hover effect*/
    .nav-list-item:after{
        content:"";position:absolute;width:100%;bottom:0;height:2px;
        background-color:var(--clr-accent-1);
        transform:scaleX(0);transform-origin:100% 50%;transition:transform .25s cubic-bezier(.215,.61,.355,1);}
    .nav-list-item:hover:after{transform:scaleX(1);transform-origin:0 50%;}

    /*sub nav list*/
    .sub-nav-list{
        display:flex;position:absolute;left:50%;translate:-50% 0;top:100%;
        background:var(--clr-base);box-shadow:var(--shadow-natural);
        padding:1rem;gap:.5rem;border-radius:1rem;
        opacity:0;visibility:hidden;transform:translateY(.5rem);transition:all 0.3s ease;}
    .sub-nav-list li {width: max-content;}
    /*reveal sub nav list*/
    .nav-list-item:hover .sub-nav-list{opacity:1;visibility:visible;transform:translateY(0);}
    /*nav links*/
    .nav-link,.sub-nav-link{color:var(--clr-contrast-2);align-items:flex-start;gap:1rem;}
    /*sub nav link*/
    .sub-nav-link{padding:.5rem;}
    /*sub nav link hover*/
    .sub-nav-link:hover{background-color:var(--clr-base-2);border-radius:.5rem;}
    /*sub nav link icon*/
    .sub-nav-link-icon{color:var(--clr-accent-1)}
    /*sub nav link icon hover*/
    .sub-nav-link:hover .sub-nav-link-icon{color:var(--clr-accent-2)}
    /*sub nav descriptions*/
    .sub-nav-description{color:var(--clr-contrast-3);}
    /*cta-primary*/
    .nav-link-cta-primary{
        background-color:var(--clr-accent-1);color:var(--clr-base)!important;
        width:max-content;margin-bottom:unset;}
    /*hide mobile cta*/
    .header-mobile-cta{display:none;}
}