/* src/css/header.css */

header{
  padding:.75rem 1.25rem .75rem 1.25rem!important;background-color:var(--clr-base);
  position:sticky/*otherwise relative*/;top:0;z-index:99;}
.header-inner-container {
  max-width:104rem;margin:auto;
  display:flex;justify-content:space-between;align-items:center;gap:1rem;
}

/*Header logo*/
.header-logo-link-wrapper{display:flex;}
.header-logo-link-wrapper .site-logo {
  width:clamp(9.875rem, 6.75rem + 8.333vw, 14.25rem)}

/*Header col 2*/
.header-col-2 {display: flex;}

/*Header nav-toggle button*/
.nav-toggle{
  display:flex;background:none;border:none;
  position:relative;z-index:999;
  padding: .5rem;
  border-radius: var(--squircle-m);
  corner-shape: var(--corner-shape-squircle);
}
.nav-toggle:hover, .nav-toggle:has(~ #header-nav:popover-open) {
  background-color: var(--clr-base-2);}
.nav-toggle:focus-visible {
  outline: 1px solid var(--clr-contrast-3);}

/*Header nav-toggle button - hamburger icon*/
.nav-toggle-icon{display:flex;flex-direction:column;justify-content:space-between;width:1.5rem;height:1rem;position:relative;}
.nav-toggle-bar{display:block;height:2px;width:100%;background:var(--clr-contrast);transition:transform 0.3s ease-in-out;}
.nav-toggle:has(~ #header-nav:popover-open) .nav-toggle-bar:first-child{transform:translateY(7px) rotate(45deg);}/*Animate*/
.nav-toggle:has(~ #header-nav:popover-open) .nav-toggle-bar:last-child{transform:translateY(-7px) rotate(-45deg);}/*Animate*/

/*Header nav*/
#header-nav{
  /*Structure*/
  max-width: 10rem;
  max-height:calc(100vh - var(--header-height));
  overflow-y:auto;
  -webkit-overflow-scrolling:touch;
  /*Position*/
  top: anchor(bottom); margin-top: .75rem;
  left: auto;
  right: anchor(right);
  /*Styling*/
  background-color:var(--clr-base);
  border: none;
  box-shadow: var(--shadow-neomorphism);
  padding:1.5rem 2.5rem;
  border-radius: var(--squircle-m);
  corner-shape: var(--corner-shape-squircle);
}

/*Header nav ul*/
.nav-list{
  list-style:none;margin:0;padding:0;
  display:flex;flex-direction:column;gap:1rem;align-items:center;}
/*Header nav list item*/
.nav-list-item,.nav-list-item button,.sub-nav-title{
  position:relative;line-height:normal;}
.nav-list-item:after{
  content:"";position:absolute;width:100%;
  bottom:-.25rem;height:2px;
  background-color:var(--clr-accent-1);
  transform:scaleX(0);
  transform-origin:100% 50%;
  transition:transform .25s cubic-bezier(.215,.61,.355,1);}
.nav-list-item:hover:after{transform:scaleX(1);transform-origin:0 50%;}

/*Header nav links*/
.nav-link,.sub-nav-link{
  font-weight:600;text-decoration:none;display:block;color:var(--clr-contrast);
  width:fit-content/*helps on mobile when has submenu and we want to click outside it to open it*/;}