/*Loading overlay*/
.loading-overlay {
  position: fixed; inset: 0; z-index: 9999;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center; align-items: center;
  display: none;
}

.loading-overlay.show {display: flex;}

.loading-spinner {
  position: absolute; left:50%;
  width: 4rem; height: 4rem;
  border: 6px solid gray;
  border-radius: 50%;
  border-top-color: var(--clr-base-3);
  animation: spin 1s linear infinite;
}


@keyframes spin {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}